:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    display: flex;
}

webview {
    height: 100%;
}



#home-button {
    border: none;
    transition: 0.2s;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 36px;
    width: 36px;
    padding: 0;
    cursor: pointer;

    mask-size: cover;
    mask-image: url("./home.png");
    mask-position: center;
    background-color: black;

    &:hover {
        background-color: var(--accent-color) !important;
    }

}